[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/umapathireddy
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/umapathireddy
	label-Verified = -1..+1 group user/umapathireddy
	push = group user/umapathireddy
	read = group user/umapathireddy
	rebase = group user/umapathireddy
	removeReviewer = group user/umapathireddy
	submit = group user/umapathireddy
[access "refs/heads/*"]
	create = group user/umapathireddy
	push = +force group user/umapathireddy
	pushMerge = group user/umapathireddy
	read = group user/umapathireddy
[access "refs/tags/*"]
	push = group user/umapathireddy
	push = +force group user/umapathireddy
